<div *ngIf="loading" class="container">
  <h5>Employee Information</h5>
  <h6>Name</h6>
  <p>{{employee.firstName + ' ' + employee.lastName}}</p>
  <h6>Email</h6>
  <p>{{employee.email}}</p>
  <h5>Event Information</h5>
  <h6>Event Type</h6>
  <p>{{event.type}}</p>
  <h6>Date</h6>
  <p>{{event.date | date:'fullDate'}}</p>
  <h6>Time</h6>
  <p>{{event.date | date:'shortTime'}}</p>
  <h6>Location</h6>
  <p>{{event.location}}</p>
  <h6>Cost</h6>
  <p>{{event.cost | currency:'USD'}}</p>
  <h6>Grading Format</h6>
  <p>{{event.gradeFormat}}</p>
  <h6>Description</h6>
  <p>{{event.Description}}</p>
  <h5>Request Informaiton</h5>
  <h6>Justification</h6>
  <p>{{request.justification}}</p>
  <h6>Hours Missed</h6>
  <p>{{request.hoursMissed}}</p>
  <h6>Attachments</h6>
  <div *ngIf="!rejected; else elseBlock">
    <button (click)="acceptRequest()" class="btn btn-primary">Accept</button>
    <button (click)="toggleRejected()" class="btn">Reject</button>
    <a routerLink="/dashboard" class="btn">Cancel</a>
  </div>
  <ng-template #elseBlock>
    <form action="">
      <div class="form-group">
        <label for="txtArea_reject">Reason:</label>
        <textarea [(ngModel)]="reason" class="form-control" name="txtArea_reject" id="txtArea_reject" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <button (click)="rejectRequest()" class="btn btn-primary">Reject</button>
        <button (click)="toggleRejected()" class="btn">Cancel</button>
      </div>
    </form>
  </ng-template>
</div>